@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
 font-family: "Poppins", sans-serif;
 font-weight: bold;
 background: white;
 background-image: radial-gradient(rgba(0, 0, 0, 20%) 1px, transparent 0);
 background-size: 40px 40px;
 background-position: -20px 20px;
}

h1 {
 margin: 0;
 padding: 0;
 word-spacing: 0%;
}
