@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
 font-family: "Poppins", sans-serif;
 font-weight: bold;
 background: white;
 background-image: radial-gradient(black 1px, transparent 0);
 background-size: 40px 40px;
 background-position: -20px 20px;
}
